@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body {
background-color: #f1f1f1;
color:#0f141e;
font-size: 16px ;
font-weight: normal;
font-family: 'Roboto', sans-serif;

}

a{
color: #000;
text-decoration: underline;
}
a:hover{
text-decoration:wavy;
color: blue;
}
a:active{
    color: blue
}




.avatar {
width: 200px;
border-radius: 28px;
box-shadow: 4px 4px 14px rgba(0,0,0,025);
}

.info p {
color: #86898f;
margin: 0;
font-style: italic;
font-weight: bold;
text-decoration: none;
}
.container{
 max-width:750px;
 margin: auto
}
.a {
color: red;
}
.card {
    padding: 15px 20px;
    
    margin-bottom: 20px;
    border-radius: 20px;
}
.bg-yellow{
    background: #3CB371;
}
.bg-green{
    background: #DC143C;
}
.bg-green{
    background: #ffe5e5;
}
          
                
                    
        
